# please note that currently the first archive in each RRD defines the consolidation
# function (e.g. AVERAGE) used by OpenHAB, thus only one consolidation function is
# fully supported
#
# default_numeric and default_other are internally defined defnames and are used as
# defaults when no other defname applies

dBase.def=GAUGE,900,0,U,300
#dBase.archives=AVERAGE,0.5,1,365
dBase.items=Sensors*
